#main > div{
    background-image: url("../../images/bg/main_bg.jpeg");
    background-size:     contain;
    background-repeat:   repeat-y;
    background-position: center center;
}

#main-banner-section{
    margin: 70px 0px 100px 0px;
    gap: 100px;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;

    position: relative;
}

#wai-pic{
    width: 450px;
}

.user-box{
    padding: 20px 20px;
    background: rgba(0,0,0,0.6);;
    border-radius: 27px;
    border: none;
    backdrop-filter: blur(2px);
}

.user-absolute{
    width: 300px;
    position: absolute;
    bottom: -45px;
    right: 240px;
}

.user-box > div:first-child{
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-box > div > p{
    margin-top: 10px;
}

.user-clr{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

#main-feature-section, #main-review-section{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-review-section{
    margin-bottom: 80px;
}

#main-feature{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding: 0px 30px;
}

#main-feature > div{
    padding: 25px 20px;
    background: rgba(0,0,0,0.6);;
    border-radius: 27px;
    border: none;
    backdrop-filter: blur(2px);
    transition: transform .2s;
    cursor: pointer;

    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

#main-feature > div:hover{
  transform: scale(1.05);
}

.feature-img{
    display: flex;
    justify-content: center;
}

.feature-img > img{
    height: 70px;
    margin-bottom: 20px;
}

#main-temple-section{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
    align-items: center;
}

#temple-img{
    width: 650px;
}

#review-grid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 0px 30px;
}

@media screen and (max-width: 1280px) {
    #wai-pic{
        width: 300px;
    }

    #temple-img{
        width: 400px;
    }
}

@media screen and (max-width: 1110px) {
    #main-banner-section{
        display: flex;
        flex-direction: column-reverse;
        margin: 70px 0px 50px 0px;
    }

    #main-temple-section{
        display: flex;
        flex-direction: column;
    }

    .user-absolute{
        right: inherit;
        bottom: inherit;
        top: 250px;;
    }

    .button{
        width: 100%;
        padding: 25px 40px;
    }

    #main-feature{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 950px) {
    #navbar > div, #footer > div{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    #review-grid{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 600px) {
    #wai-pic{
        width: 250px;
    }

    #main-feature{
        grid-template-columns: 1fr;
    }

    #temple-img{
        width: 300px;
    }
}

@media screen and (max-width: 467px) {
    #navbar > div > div:nth-child(2){
        flex-direction: column;
    }
    #wai-pic{
        width: 200px;
    }

    #temple-img{
        width: 250px;
    }

    #review-grid, #main-feature{
        padding: 0px 10px;
    }

    .user-absolute{
        top: 150px;
    }

    .user-absolute{
        width: 250px;
    }
}